*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--gap: .5em;
	--index: calc(1vh + 1vw);
	--color-dark: #000;
}

body {
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 200;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: calc(var(--index) * 2.8);
	position: absolute;
	text-align: center;
	color: #131313;
	margin-top: .2em;
}

.header span {
	display: block;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: calc(var(--index) * .75);
	margin-top: 5px;
}

.gallery {
	width: 30vw;
	column-width: 2em;
	gap: var(--gap);
	transform: scale(8.2);
	transition: transform 1s cubic-bezier(.075, 1, .25, 1), opacity 1s;
	will-change: transform;
}

.gallery__item {
	margin-bottom: var(--gap);
	transform: scale(1.001);
	will-change: transform;
	transition: transform .3s;
}

.gallery__item:hover {
	transform: scale(1.03);
}

.gallery__item img {
	width: 100%;
	display: block;
}

.loaded .gallery {
	opacity: 1;
}

.loaded span {
	opacity: 0;
}


/* Поддержка темы ОС */

@media (prefers-color-scheme:dark) {
	body {
		background-color: var(--color-dark);
	}

	.header {
		filter: invert(100%);
	}
}